@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}
body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
footer a {
  color: rgb(7, 7, 7);
}
footer a:hover {
  color: rgb(35, 35, 194);
}
@media (max-width: 991px) {
  .footerImage {
    align-items: center;
  }
}
