.cart-about {
  border-radius: 24px;
  border: 0.5px solid #000;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  color: #000;
  white-space: nowrap;
  width: 220px;
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 991px) {
  .cart-about {
    white-space: initial;
  }
}
.cart-about:hover {
  -webkit-box-shadow: 4px 5px 15px -7px #111010;
  box-shadow: 4px 8px 15px -7px #1a1818;
  transform: scale(1.1);
  transition: 1s ease-in;
}

.img-about {
  aspect-ratio: 1.15;
  object-fit: auto;
  object-position: center;
  width: 100%;
  border-radius: 24px 24px 0 0;
}

.cart-body {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (max-width: 991px) {
  .cart-body {
    white-space: initial;
  }
}
.cart-name {
  font: 700 18px Inter;
}
@media (max-width: 991px) {
  .cart-name {
    white-space: initial;
  }
}
.cart-descr {
  margin-top: 8px;
  font: 400 12px Inter;
}
@media (max-width: 991px) {
  .cart-descr {
    white-space: initial;
  }
}
.img-linkedin {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 32px;
  margin-top: 8px;
}
.img-linkedin:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
