.about-container {
  margin-top: 100px;
  padding: 40px 100px;
}

.about-us {
  display: flex;
}
.imge-about-first {
  border-radius: 24px;
  margin-right: 24px;
}
.imge-about-second {
  border-radius: 24px;
  margin-right: 72px;
}
.about-us-box {
  max-width: 590px;
}
.about-us-box h5 {
  font-family: Inter;
  font-size: 14px;
}
.about-autors {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
  gap: 20px;
}

.title-team {
  max-width: 220px;
}
.title-team h3 {
  font: 700 28px Inter;
}
.title-team h5 {
  font: 400 14px Inter;
}
.autors-box {
  display: flex;
  gap: 170px;
}

@media (max-width: 991px) {
  .about-container {
    margin-top: 56px;
    padding: 0px 20px;
  }
  .about-us {
    flex-direction: column;
  }
  .imge-about-second {
    display: none;
  }
  .about-us-box h5 {
    text-align: left;
  }
  .about-container h2 {
    text-align: left;
  }
  .about-us-box {
    order: 1;
    text-align: center;
  }
  .imge-about-first {
    order: 2;
    margin-top: 20px;
    margin-right: 0px;
  }
  .about-autors {
    flex-direction: column;
    margin-top: 40px;
  }
  .title-team {
    text-align: left;
    max-width: 800px;
  }
  .autors-box {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }
}
